@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">时间：@ViewBag.Time</h1>
    <h1 class="display-4">版本：@ViewBag.VersonInfo</h1>
    <h1 class="display-4">端口：@ViewBag.Port</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
